*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{

}

#heading{
    height: 200px;
    background-color: #fff;
}

#main{
}

#main .pic-contain img{
    width: 100%;
}

#main .text-content{
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
}